

.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0;
    gap: 8px
}

.pagination button {
    background-color: var(--color-primary);
    padding: 8px 12px;
    box-shadow: 0px 7px 7px rgba(0,0,0,0.3);
}

.pagination p {
    text-align: center;

}

.pagination .pageNumber {
    padding: 4px 12px;
}