

.renderJobDescriptionContainer .bulletContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create 2 equal columns */
    padding-left: 24px;
    gap: 8px
}

.renderJobDescriptionContainer .jobDescriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 8px;
}

/* MOBILE PHONE */
@media only screen and (max-width: 760px) {

    .renderJobDescriptionContainer .bulletContainer {
        padding: 0 ;
        padding-left: 24px;
    }
}
