

.renderJob {
    max-width: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: thin;
    padding-right: 8px;
    padding-bottom: 16px;
}

/* TABLET MODE */
@media only screen and (max-width: 768px) {
    .renderJob {
        height: 425px;
        max-height: unset;
    }
}

/* SMALL LAPTOP */
@media only screen and (max-width: 1024px) {
    .renderJob {
        height: 75vh;
        max-height: unset;
    }
}
